# macOS being lame
.DS_Store

# VSCode being lame
*.vscode/

# Vivado output products
*.log
*.jou
*.rpt
*.bit

# IceStorm output products
*.bin

# iVerilog output products
*.vcd
*.out

# Manta output products
manta.v

# Python Packaging output products
dist/
*.egg-info
__pycache__/