# Hidden files
.DS_Store
*.vscode/

# Vivado output products
*.Xil/
*.log
*.jou
*.rpt
*.bit
cpu_impl_netlist.v

# IceStorm output products
*.bin

# iVerilog output products
*.vcd
*.out

# Manta output products
manta.v

# Python Packaging output products
dist/
*.egg-info
__pycache__/

# Any stray lab-bc's
lab-bc.py

# Formal outputs
test/formal_verification/*_basic
test/formal_verification/*_cover