site_name: "Manta Documentation"
site_description: Manta Documentation
site_author: Fischer Moseley

repo_url: https://github.com/fischermoseley/manta/
repo_name: fischermoseley/manta
docs_dir: 'doc'

theme:
  name: material
  logo: assets/logo_minimal_border.png
  favicon: assets/logo_ray_only_with_shadow.png
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.sections
    - navigation.expand

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: custom
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: custom
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tilde
  - attr_list

nav:
    - Home: index.md
    - Installation: installation.md
    - Getting Started: getting_started.md
    - Similar Tools: similar_tools.md
    - Architecture: architecture.md
    - Usage:
      - IO Core: io_core.md
      - Logic Analyzer Core: logic_analyzer_core.md
      - Memory Core: memory_core.md
      - UART Interface: uart_interface.md
      - Ethernet Interface: ethernet_interface.md
    - For Developers:
      - Repository Structure: repository_structure.md
      - Roadmap: https://github.com/fischermoseley/manta/milestones
