name: build_icestick_examples
on: [push]
jobs:
  install-toolchain:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: install yosys
      run: |
        wget --no-verbose https://github.com/YosysHQ/oss-cad-suite-build/releases/download/2023-02-23/oss-cad-suite-linux-x64-20230223.tgz
        tar -xzf oss-cad-suite-linux-x64-20230223.tgz 
        export PATH="$(pwd)/oss-cad-suite/bin/:$PATH"
        cd examples/icestick/uart
        ./make.sh